<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Bd" value="data source = DESKTOP-1L2RRDE\SQLEXPRESS;initial catalog=JeanCity;Integrated Security=True"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="TipoBD"  value="0"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>